body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
align-items: center;
background-color: green; 
text-align: center;
color: white;
font-weight: bold;

}
h1{
    color: rgb(242, 214, 2);
    font-weight: bold;
    margin-top: 15%;
    font-size: 250%;
}
#message-el
{
    font-style: italic;
    font-weight: bold;
    font-size: 150%;

}
#btn
{
    background-color: rgb(242, 214, 2);
    color: green;
  border: none;
  font-size: 36px;
  font-weight:bold;
  border-radius: 5px;
  padding: 14px 40px;
  
}
#btn1
{
    background-color: rgb(242, 214, 2);
    color: green;
  border: none;
  font-size: 36px;
  font-weight:bold;
  border-radius: 5px;
  padding: 14px 40px;
  margin-left: 20px;
}